@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@300&display=swap');

html {
    margin: 0;
}
body {
    display: contents;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
}


/* Header */

.topframe {
    max-width: 100%;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    background-color: #04943c;
    text-align: center;
    color: #fff;    
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    margin-top: -1%;
    }

.logo-img {
    max-width: 60%;
}    

.barra-pesquisa {

    margin-top: -1.5%;
    text-align: center;
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    width: 30%;
    height: 5%;
    border: 1px solid #04943c;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    
}


.botao-pesquisa {
    font-size: 180%;
    position: absolute;
    top: 9.5%;
    right: 36%;
    color:  #04943c;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 0.5%;
    padding-top: 0.4%;
    padding-left: 0.7%;
    padding-right: -0.1%
  }
  .botao-pesquisa:hover {
    color: #e20c2f;
  }
 
  .icones {
    margin-right: 4rem;
    font-size: 180%;
    color: #04943c;    
  }
  .icones:hover {
    color: #e20c2f;
}
.icones:active {
    transform: scale(1.2);
}

  .fa-cart-plus {
    color: #313030
  }
  .fa-cart-plus:hover {
    color: #d6d6d9    
  }
  .fa-cart-plus:active {
    transform: scale(1.2);
  }

.icones-container {
    position: absolute;
    top: 7.5%;
    right: 5%;
    
  }
.nav-menu {
    position: absolute;
    width: 100%;
    margin-top: 4%;
    border-top: 1px solid#bdbbbb;
    font-size: 1.3rem;
    text-align: center;
      
}
.nav-bar {
    margin: 0;
    padding: 0;
 
}
.header-nav {
    display: flex;  
    align-items: center;
    background-color: #e0e1e4;
    width: 100%;
    height: 8rem;

}

.menu-botao {
    display: inline-block;
    list-style-type: none;
    margin-top: 0.8rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
}



.link-botao {
    text-align: center;
    text-decoration: none;
    color: #313030
}
.link-botao:hover {
    color: #7b7b7c;
}
.link-botao:actived {
    color: #7b7b7c;
    background-color: #31303027;
}

/* Titulo da página */

.titulo {
    border-top: 1px solid #7b7b7c;
    border-bottom: 1px solid #7b7b7c;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #04943c;
    color: white;
}

/*Banner*/

.banner {
    width: 100vw;
    height: 50vh;
    margin: -2.3%;
    background-color: transparent;
    
  }

/* Cards */

.titulo-mais-vendidos {
    background-color: #04943b;
    padding-top: 0.01%;
    padding-bottom: 0.01%;
    margin-top: -0.1%;
    
}
.texto-mais-vendidos {
    margin-left: 13.5%;
    color: white;
}

.cards-flex {
    
    padding: 2%;
    justify-content: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.cards-produto {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3%;
    margin-left: 2%;
    max-width: 15%;
    border: 1px solid #d6d6d9;
    background-color: #d6d6d9;
    border-radius: 10px 10px 10px 10px;

}

.card-icone {
    margin-left: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 180%;
    background-color: transparent;
    color:#04943c;
    transition: background-color 0.3s ease;
}

.card-icone:hover {
    color: #e20c2f;
}
.card-icone:active {
    transform: scale(1.2);
}
.produto-img {
    max-width: 100%;    
    background-color: white;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
        
}

.titulo-card {
    color: #313030;

}

.descricao-card {
    color: #313030;
    margin: 10%;
}

.preco-card {
    color: #313030;
}

.botao-card {
    color: white;
    font-size: 100%;
    margin-bottom: 8%;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #04943c;
}

.botao-card:hover {
    background-color: #e20c2f;
}
.botao-card:active {
    transform: scale(1.1);
}
.card-botao-icone {
    color: white;
    font-weight: bold;
    font-size: 120%;
}

/* Formulario */

.form-container {
    max-width: 100%;
    padding-top: 1%;
    display: flex;
    background-color: white;
    justify-content: center;
    
}

.form {
    margin-left: 10%;
    margin-bottom: 2.5%;
    padding-top: 2.5%; 
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%;
    width: 20%;
    background-color: #d6d6d9;
    border-radius: 10px;
       
}

.form-texto {
    font-size: 100%;
    color: #313030;
    text-align: center;
}

.form-subcontainer {
    margin-bottom: 5%;
    
}

.form-input {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 2%;
    border: 1px solid #04943c;
    border-radius: 10px;
}

.titulo-form {
    margin-left: 10%;
    padding-top: 2%;
    text-align: left;
    margin-bottom: 0;
    }
.botao-form {
    background-color: #04943c;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 120%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 40%;
}    
.botao-form:hover {
    background-color: #e20c2f;
}
.botao-form:active {
    transform: scale(1.1);

}

.pessoas-form-img {
    max-width: 40%;
    margin-left: 25%;
    margin-top: 3%;
    background-color: #04943b;
    border-radius: 80%;
    box-shadow:20px 20px 20px #0000002d
}

.texto-img {
    margin-left: 20%;
    margin-top: 5%;
}

/* Quem Somos */

.quem-somos {
    color: #313030;
    font-size: 120%;
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0;
    margin-bottom: 3%;
    width: 100%;
  }
  
  .titulo-quem-somos {
    color: white;
  }
  
  .texto-quem-somos {
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .texto-container {
    width: 40%;
  }
  
  .imagem-container {
    width: 40%;
    
  }
  
  .img-sobre {
    max-width: 100%;
    margin-left: 10%; 
  }
  
/* Localização */

.localizacao {
    border-top: 1px solid #7b7b7c;
    width: 100%;
    background-color: #d6d6d9;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;

}

.localizacao-img {
    margin-right: 10%;
    margin-left: 20%;
    max-width: 30%;
    border: 2px solid #04943b;
    border-radius: 10px;
        
}

.texto-localizacao {
    color: white;
    margin-left: 10%;
    color: #313030;
    text-align: justify;
    font-size: 120%;


}
.localizacao-icons {
    font-size: 220%;
    margin-right: 5%;
    color: #04943b;
}
.localizacao-icons:hover {
    color: #e20c2f;
}
.localizacao-icons:active {
    transform: scale(1.1);
}
.footer {
    width: 100%;
    background-color: #d6d6d9;
    color: #313030;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px solid #7b7b7c;

}